.header {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.header__link {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.header__link:focus {
    text-decoration: underline;
}

.link__active {
    text-decoration: underline;
}