<section class="info">
    <div class="container">
        <div class="info__inner">
            <ul class="info__list">
               <li class="info__item">
                    <div class="info__item-block">
                        <span class="info__item--date">10 мая 2021 - 11 мая 2021</span>
                        <p class="info__item--name">Проект 1</p>
                    </div>
                    <div class="info__item--container">
                        <span class="info__item--user">Петр</span>
                    </div>
               </li> 
            </ul>
    
            <div class="info__project">
                <div class="info__block">
                    <h2 class="info__project--name">Проект 1</h2>
                    <ul class="info__block--list">
                        <li class="info__block--items">
                            <span class="items__title">Дата начала</span>
                            <span class="item__text">10.05.2021</span>
                        </li>
                        <li class="info__block--items">
                            <span class="items__title">Дата окончания</span>
                            <span class="item__text">11.05.2021</span>
    
                        </li>
                        <li class="info__block--items">
                            <span class="items__title">Автор</span>
                            <span class="item__text">Петр Петров</span>
    
                        </li>
                    </ul>
                    <div class="info__descr">
                        <p class="info__descr--title">Описание</p>
                        <p class="info__descr--text">Проект</p>
                    </div>
                </div>
               <div class="info__wrapper">
                <button class="info__project--btn">Изменить</button>
               </div>
            </div>
        </div>
    </div>
</section>