<section class="info">
    <div class="container">
        <div class="info__inner">
            <app-project-list></app-project-list>
    
            <div class="info__project">
                <div class="info__block">
                    <h2 class="info__project--name">Проект 1</h2>
                    <app-project-info-list></app-project-info-list>
                    <app-project-info-description></app-project-info-description>
                </div>
               <div class="info__wrapper">
                <button class="info__project--btn">Изменить</button>
               </div>
            </div>
        </div>
    </div>
</section>